html
{
    position: relative;

    min-height: 100%;
}
body
{
    min-width: 750px;
    max-width: 2200px;
}
.logo,
.menu,
.content,
.filter
{
    font-size: 1.5em;

    width: 80%;
    min-height: 100%;
    margin-right: auto;
    margin-left: auto;
}
a
{
    text-decoration: none;

    color: inherit;
}
.logo{
    margin-top: 2%;
}
.logo__link__img{
    height: 50px;
}
.menu
{
    margin-top: 20px;

}

.menu__link
{
    margin-right: 10%;

    -webkit-transition: all .1s;
       -moz-transition: all .1s;
         -o-transition: all .1s;
            transition: all .1s;

    color: rgba(39, 48, 69, .5 );
}
.menu__link:last-child{
    margin-right: 0;
}
.menu__link:hover
{
    -webkit-transition: all .3s;
       -moz-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;

    color: black;
}
.menu__link_active
{
    color: black;
}
.filter
{
    display: none;

    margin-top: 30px;
    margin-bottom: 10px;
}
.filter__cat
{
    font-size: 1em;

    margin-right: 30px;
    padding: 10px 20px;

    cursor: pointer;
    -webkit-transition: all .1s;
       -moz-transition: all .1s;
         -o-transition: all .1s;
            transition: all .1s;

    color: white;
    border-radius: 50px;
    background-color: rgba(39, 48, 69, .2 );
}
.filter__cat:hover
{
    cursor: pointer;
    -webkit-transition: all .3s;
       -moz-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;

    color: black;
    // background-color: #8CD4F8;
    // background-color: #98ff98;
}
.content
{
    margin-bottom: 10px;
}
.content__object
{
    position: relative;

    display: inline-block;
    overflow: hidden;

    width: 23%;
    min-width: 240px;
    max-width: 300px;
    height: 150px;
    margin: 2% 5%;
    margin-left: 0;

    border: solid 4px #ddd;
}

.content__object__link__img
{
    width: 100%;
    height: 150px;
}
.content__object__link__add_text
{
    font-size: .6em;

    position: absolute;
    bottom: -10px;

    width: 100%;
    height: 0;
    padding: 5px;

    color: white;
    background-color: rgba(60, 75,79, .8);
}
.content__object__link > .content__object__link__add_text
{
    -webkit-transition: all .1s;
       -moz-transition: all .1s;
         -o-transition: all .1s;
            transition: all .1s;
}
.content__object__link:hover > .content__object__link__add_text
{
    height: 80px;

    -webkit-transition: all .4s;
       -moz-transition: all .4s;
         -o-transition: all .4s;
            transition: all .4s;
}

.content__object__link__img__width_small
{
    width: 150px;
    height: 150px;
    margin-right: 20%;
    margin-left: 25%;
}
.footer
{
    position: absolute;
    right: 50px;
    top: 100px;

    width: 30%; 
    min-width: 350px;
    height: 80px;
}
.footer__contact
{
    width: 80%;
    margin-right: auto;
    margin-left: auto;

    text-align: right;
    font-size: 1.2em;
}
@media (min-width:200px) and (max-width: 1500px)
{
    .logo,
    .menu,
    .content,
    .footer__contact
    {
        font-size: 1.2 em;

        text-align: center;
    }
    .content__object__link__img__width_small
    {
        margin-left: 20%;
    }
    .filter
    {
        text-align: center;

    }
    .filter__cat{
     line-height: 2.5em;
    }
    .footer
    {
        top: 100% !important;
        left: -20px;
        width: 100%;
        min-width: 750px;
    }
}