html{
	background-image: url("images/background_site.svg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-width: 800px;
	max-width: 1300px;
	background-color: #495B3F;
}

.vl{
	width: 10px;
	height: 100%;
	border-left: 3px solid #669933;
	border-right: 3px solid #669933;
	position: absolute;
	top: 0;
}

.menu{
	position: absolute;
	top: 15%;

}

a{
	text-decoration: none;
	color: #CEDBC6;
}

ul>li{
	list-style: none;
	margin-bottom:0.5em;
	font-size: 2em;	
	color: #CEDBC6;
	width: 110%;
}
a:hover{
	animation: menu 1s;
	-webkit-animation: menu 1s;
	-moz-animation: menu 1s;
	-ms-animation: menu 1s;
	-o-animation: menu 1s;
	
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
}
@keyframes menu{ 
	100%{ opacity: 1; color: #000;}
}
@-webkit-keyframes menu{
	100%{ opacity: 1; color: #000;}
}
@-moz-keyframes menu{ 
	100%{ opacity: 1; color: #000;}
}
@-o-keyframes menu{ 
	100%{ opacity: 1; color: #000;}
}
@-ms-keyframes menu{ 
	100%{ opacity: 1; color: #000;}
}
